@page
@model CapstoneSalesCRM.Pages.States.IndexModel

@{
    ViewData["Title"] = "States";
}

<h1>States</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.State[0].StateName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.State) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StateID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StateID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StateID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
