@page
@model CapstoneSalesCRM.Pages.ActivityTasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityTask[0].TaskDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ActivityTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ActivityTaskID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ActivityTaskID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ActivityTaskID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
