@page
@model CapstoneSalesCRM.Pages.Activities.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<head>
    <script src="https://kit.fontawesome.com/cb166f3e9b.js" crossorigin="anonymous"></script>
    <style>
        tr:nth-last-child(even) {
            background-color: #EFF8FF;
        }

        hr {
            clear: both;
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <h1 class="text-primary m-0 fw-bold">Delete</h1>
                        <h3>Are you sure you want to delete this?</h3>
                    </div>
                    <div class="card-body">
                            <div>
                                <h4>Activity</h4>
                                <hr />
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Activity.DateScheduled)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Activity.DateScheduled)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Activity.WhoToNotify)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Activity.WhoToNotify)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Activity.HowToNotify)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Activity.HowToNotify)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Activity.Notes)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Activity.Notes)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Activity.Status)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Activity.Status)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Activity.DateCompleted)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Activity.DateCompleted)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Activity.Contact)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Activity.Contact.ContactID)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Activity.ActivityTask)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Activity.ActivityTask.ActivityTaskID)
                                    </dd>
                                </dl>
                                </div>
</div>
                    </div>
                </div>
</div>
        </div>

        <form method="post">
            <input type="hidden" asp-for="Activity.ActivityID" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-page="./Index" class="btn btn-primary">Back to List <i class="fas fa-undo"></i></a>
        </form>

</body>