@page
@model CapstoneSalesCRM.Pages.Activities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary m-0 fw-bold">Details</h1>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Contact.FirstName) @Html.DisplayFor(model => model.Activity.Contact.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ActivityTask.TaskDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ActivityTask.TaskDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.DateScheduled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.DateScheduled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.WhoToNotify)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.WhoToNotify)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.HowToNotify)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.HowToNotify)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.DateCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.DateCompleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Activity.ActivityID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
