@page
@model CapstoneSalesCRM.Pages.Industries.IndexModel

@{
    ViewData["Title"] = "Industries";
}

<head>
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="https://kit.fontawesome.com/cb166f3e9b.js" crossorigin="anonymous"></script>
    <style>
        tr:nth-last-child(even) {
            background-color: #EFF8FF;
        }
        hr {
            clear: both;
            visibility: hidden;
        }
    </style>
</head>


<div class="row">
    <div class="col">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <h1 class="text-primary m-0 fw-bold">Industries</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto" align="left">
                        <a class="btn btn-primary" asp-page="Create"><i class="fas fa-plus"></i>&nbsp;Create New</a>
                    </div>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Industry[0].Description)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Industry)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.IndustryID"><i class="far fa-edit"></i></a> |
                                        <a asp-page="./Details" asp-route-id="@item.IndustryID"><i class="far fa-address-card"></i></a> |
                                        <a asp-page="./Delete" asp-route-id="@item.IndustryID"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </div></div>
    <p>
        <a class="btn btn-primary" asp-page="/Index">Return to Home</a>
    </p>
</div>