@page
@model CapstoneSalesCRM.Pages.Locations.IndexModel

@{
    ViewData["Title"] = "Locations";
}

<h1>Locations</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].LocationAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].LocationAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].LocationCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].MainPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Location) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LocationID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LocationID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LocationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
