@page
@model CapstoneSalesCRM.Pages.ActivityTasks.IndexModel

@{
    ViewData["Title"] = "Tasks";
}
<head>
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="https://kit.fontawesome.com/cb166f3e9b.js" crossorigin="anonymous"></script>
</head>

<h1>Tasks</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityTask[0].TaskDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ActivityTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ActivityTaskID"><i class="far fa-edit"></i></a> |
                <a asp-page="./Details" asp-route-id="@item.ActivityTaskID"><i class="far fa-address-card"></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.ActivityTaskID"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
