@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
}
<html>
<head>
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="https://kit.fontawesome.com/cb166f3e9b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>



    <div class="container-fluid">
        <div class="row">


            @if (User.Identity.Name == null)
            {
                <div class="col">
                    <h3 class="text-primary m-0 fw-bold" style="line-height:unset; padding-top:.6em">Welcome! Please log in.</h3>
                </div>
            }
            else
            {
                <div class="col">
                    <h3 class="text-primary m-0 fw-bold" style="line-height:unset; padding-top:.6em">Welcome Back, @User.Identity.Name!</h3>
                </div>
            }
            <div class="col" align="right">
                <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/Contacts/Create"><i class="fas fa-plus"></i>&nbsp;Create Contact</a>
                <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/Companies/Create"><i class="fas fa-plus"></i>&nbsp;Create Company</a>

                <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/Activities/Create"><i class="fas fa-plus"></i>&nbsp;Create Activity</a>
            </div>
            <p></p>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Total Contacts</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>@Model.Contact.Count()</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-user-circle fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Total Companies</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>@Model.Companies.Count()</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-building fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Locations Served</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>@Model.Locations.Count()</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-map-marker fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Incomplete Tasks</span></div>
                                <div class="row g-0 align-items-center">
                                    <div class="col-auto">
                                        <div class="text-dark fw-bold h5 mb-0 me-3"><span>@Model.IncompleteActivities.Count()</span></div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="visually-hidden">50%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="justify-content:stretch">
            <div class="col-lg-auto col-xl-auto">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Upcoming Activities</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <table>
                                @{
                                    int k = 0;
                                }
                                @foreach (var ALitem in Model.ActivityList)
                                {
                                    k = k + 1;
                                    string rowColor;
                                    if (k % 2 == 0)
                                    {
                                        rowColor = "generalAltRow";
                                    }
                                    else
                                    {
                                        rowColor = "generalRow";
                                    }
                                    <tr class="@rowColor">
                                        <th>
                                            @Html.DisplayFor(m => ALitem.Contact.FirstName)&nbsp;
                                        </th>
                                        <th>
                                            @Html.DisplayFor(m => ALitem.Contact.LastName)&nbsp;
                                        </th>
                                        <th>
                                            @Html.DisplayFor(m => ALitem.ActivityTask.TaskDescription)&nbsp;
                                        </th>
                                        <th>
                                            @Html.DisplayFor(m => ALitem.DateScheduled)&nbsp;
                                        </th>
                                        <th>
                                            <a asp-page="/Activities/Details" asp-route-id="@ALitem.ActivityID"><i class="fas fa-info-circle"></i></a>
                                        </th>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-auto col-xl-auto">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Recently Added Contacts</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">

                            <table>
                                @{
                                    int i = 0;
                                }
                                @foreach (var CUitem in Model.ContactUserList)
                                {
                                    i = i + 1;
                                    string rowColor;
                                    if (i % 2 == 0)
                                    {
                                        rowColor = "generalAltRow";
                                    }
                                    else
                                    {
                                        rowColor = "generalRow";
                                    }
                                <tr class="@rowColor">
                                    @*<th>
                                        @Html.DisplayFor(m => CUitem.Prefix)&nbsp;
                                    </th>*@
                                    <th>
                                        @Html.DisplayFor(m => CUitem.FirstName)&nbsp;
                                    </th>
                                    <th>
                                        @Html.DisplayFor(m => CUitem.LastName)&nbsp;
                                    </th>
                                    <th>
                                        @Html.DisplayFor(m => CUitem.Role.RoleDescription)&nbsp;
                                    </th>
                                    @*<th>
            @Html.DisplayFor(m => CUitem.HomeCity)&nbsp;
        </th>*@

                                    @*<th>
            @Html.DisplayFor(m => CUitem.Location.Company.CompanyName)&nbsp;
        </th>*@
                                    <th>
                                        @Html.DisplayFor(m => CUitem.Location.LocationName)&nbsp;
                                    </th>
                                    @*<th>
                                        @Html.DisplayFor(m => CUitem.DateCreated)&nbsp;
                                    </th>*@
                                    <th>
                                        <a asp-page="/Contacts/Details" asp-route-id="@CUitem.ContactID"><i class="far fa-address-card"></i></a>
                                    </th>
                                </tr>
                                }
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-auto col-xl-auto">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-bold m-0">Todo List</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h6 class="mb-0"><strong>Follow Up Call</strong></h6><span class="text-xs">10:30 AM</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"></label></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">11:30 AM</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2"></label></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <h6 class="mb-0"><strong>Training</strong></h6><span class="text-xs">2:30 PM</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3"></label></div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Projects</h6>
                </div>
                <div class="card-body">
                    <h4 class="small fw-bold">Server migration<span class="float-end">20%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">20%</span></div>
                    </div>
                    <h4 class="small fw-bold">Sales tracking<span class="float-end">40%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="visually-hidden">40%</span></div>
                    </div>
                    <h4 class="small fw-bold">Customer Database<span class="float-end">60%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="visually-hidden">60%</span></div>
                    </div>
                    <h4 class="small fw-bold">Payout Details<span class="float-end">80%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                    </div>
                    <h4 class="small fw-bold">Account setup<span class="float-end">Complete!</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
        <div class="col-6">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Upcoming Tasks</h6>
                </div>
                <div class="card-body">
                    <canvas id="Hbar"></canvas>
                    <script>
                        var Hctx = document.getElementById('Hbar').getContext('2d');
                        var Hbar = new Chart(Hctx, {
                            type: 'bar',
                            data: {
                                labels: ['Training', 'Mass Email', 'Meeting', 'Email', 'Phone Call'],
                                datasets: [{
                                    axis: 'y',
                                    label: 'Task',
                                    data: [6, 9, 2, 3, 7],
                                    backgroundColor: [
                                        '#fd7e14',
                                        '#20c9a6',
                                        '#f6c23e',
                                        '#36b9cc',
                                        '#e74a3b'
                                    ],
                                    bordercolor: [
                                        '#fd7e14',
                                        '#20c9a6',
                                        '#f6c23e',
                                        '#36b9cc',
                                        '#e74a3b'
                                    ],
                                    borderwidth: 1
                                }]
                            },
                            options: {
                          indexAxis: 'y',
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Companies by Industry</h6>
                </div>
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: ['Agriculture', 'Healthcare', 'Construction', 'Manufacturing', 'Technology', 'Utilities', 'Transportation', 'Public Works'],
                                datasets: [{
                                    label: '# Companies by Industry',
                                    data: [4, 7, 3, 5, 2, 3, 4, 8],
                                    backgroundColor: [
                                        '#fd7e14',
                                        '#20c9a6',
                                        '#f6c23e',
                                        '#36b9cc',
                                        '#e74a3b',
                                        '#1cc88a',
                                        '#6610f2',
                                        '#e83e8c'
                                    ],
                                    //borderColor: [
                                    //    'rgba(255, 99, 132, 1)',
                                    //    'rgba(54, 162, 235, 1)',
                                    //    'rgba(255, 206, 86, 1)',
                                    //    'rgba(75, 192, 192, 1)',
                                    //    'rgba(153, 102, 255, 1)',
                                    //    'rgba(255, 159, 64, 1)'
                                    //],
                                    //borderWidth: 1
                                }]
                            },
                            //options: {
                            //    scales: {
                            //        y: {
                            //            beginAtZero: true
                            //        }
                            //    }
                            //}
                        });
                    </script>
                </div>
            </div>
        </div>
            </div>
    </div>



                <script src="assets/bootstrap/js/bootstrap.min.js"></script>
                <script src="assets/js/chart.min.js"></script>
                <script src="assets/js/bs-init.js"></script>
                <script src="assets/js/theme.js"></script>
</body>

</html>
