@page
@model CapstoneSalesCRM.Pages.Sources.IndexModel

@{
    ViewData["Title"] = "Sources";
}

<h1>Sources</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Source[0].SourceDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Source) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SourceDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SourceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SourceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SourceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
