@page
@model CapstoneSalesCRM.Pages.Contacts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>*@

<div>
    <h1>@Html.DisplayFor(model => model.Contact.FirstName)
    @Html.DisplayFor(model => model.Contact.LastName)</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Suffix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Suffix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Prefix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Prefix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Pronouns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Pronouns)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.HomeAddress1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.HomeAddress1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.HomeAddress2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.HomeAddress2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.HomeCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.HomeCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.HomeZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.HomeZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.HomePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.HomePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.CellPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.CellPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.WorkPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.WorkPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.LinkedIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.LinkedIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Facebook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Facebook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.ContactMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.ContactMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.EmergencyContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.EmergencyContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.EmergencyContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.EmergencyContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.SourceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.SourceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.LastDateContacted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.LastDateContacted)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Role.RoleID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Location.LocationID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.State.StateID)
        </dd>
      
    </dl>
</div>
<div>
    <h4>Activities</h4>

    <table>

        <thead>

            <tr>
                <th>DateScheduled</th>
                <th>Task Description</th>
                <th>Status</th>
                <th>Notes</th>
                <th>Date Completed</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var aitem in Model.Activity)
            {


            <tr>
                <th>@Html.DisplayFor(modelItem => aitem.DateScheduled)</th>
                <th>@Html.DisplayFor(modelItem => aitem.ActivityTask.TaskDescription)</th>
                <th>@Html.DisplayFor(modelItem => aitem.Status)</th>
                <th>@Html.DisplayFor(modelItem => aitem.Notes)</th>
                <th>@Html.DisplayFor(modelItem => aitem.DateCompleted)</th>
            </tr>

            }
        </tbody>
    </table>


    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Single().DateScheduled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Single().DateScheduled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Single().ActivityTask.TaskDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Single().ActivityTask.TaskDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Single().Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Single().Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Single().Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Single().Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Single().DateCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Single().DateCompleted)
        </dd>
    </dl>

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Contact.ContactID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
