@page
@model CapstoneSalesCRM.Pages.Contacts.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <script src="https://kit.fontawesome.com/cb166f3e9b.js" crossorigin="anonymous"></script>
</head>

@*<h1>Details</h1>*@
<body>
    <h1 class="text-primary m-0 fw-bold">
        @Html.DisplayFor(model => model.Contact.FirstName)
        @Html.DisplayFor(model => model.Contact.LastName)
    </h1>

    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Contact.ContactID" class="btn btn-primary btn-sm"> Edit <i class="far fa-edit"></i></a>
        <a asp-page="./Index" class="btn btn-primary btn-sm">Back to List</a>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Contact Information</p>
                </div>
                <div class="card-body">
                    <div>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.FirstName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.FirstName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.LastName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.LastName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.Suffix)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.Suffix)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.Prefix)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.Prefix)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.Pronouns)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.Pronouns)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.Title)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.Title)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.DOB)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.DOB)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.Email)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.Email)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.HomeAddress1)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.HomeAddress1)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.HomeAddress2)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.HomeAddress2)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.HomeCity)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.HomeCity)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.HomeZipCode)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.HomeZipCode)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.Country)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.Country)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.HomePhone)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.HomePhone)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.CellPhone)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.CellPhone)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.WorkPhone)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.WorkPhone)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.ContactMethod)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.ContactMethod)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.Source)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.Source.SourceDescription)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.CreatedBy)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.CreatedBy)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.DateCreated)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.DateCreated)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.LastDateContacted)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.LastDateContacted)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.Comment)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.Comment)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Company Information</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <dl>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Contact.Company)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Contact.Company.CompanyName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Contact.Location)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Contact.Location.LocationName)
                                </dd>
                             </dl>
                        </div>
                        <div class="col">
                            <dl>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.State)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.State.StateID)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Contact.Role)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Contact.Role.RoleDescription)
                            </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Social Media</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <dl>
                                <dt class="mb-3">
                                    @Html.DisplayNameFor(model => model.Contact.LinkedIn)
                                </dt>
                                <dd class="mb-3">
                                    @Html.DisplayFor(model => model.Contact.LinkedIn)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                                <dt class="mb-3">
                                    @Html.DisplayNameFor(model => model.Contact.Facebook)
                                </dt>
                                <dd class="mb-3">
                                    @Html.DisplayFor(model => model.Contact.Facebook)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Emergency Contact</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <dl>
                                <dt class="mb-3">
                                    @Html.DisplayNameFor(model => model.Contact.EmergencyContactName)
                                </dt>
                                <dd class="mb-3">
                                    @Html.DisplayFor(model => model.Contact.EmergencyContactName)
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <dl>
                            <dt class="mb-3">
                                @Html.DisplayNameFor(model => model.Contact.EmergencyContactNumber)
                            </dt>
                            <dd class="mb-3">
                                @Html.DisplayFor(model => model.Contact.EmergencyContactNumber)
                            </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="text-primary fw-bold m-0">Activities</h4>
                </div>
                <div class="card-body">

                    <table>

                        <thead>

                            <tr>
                                <th>DateScheduled</th>
                                <th>Date Created</th>
                                <th>Task Description</th>
                                <th>Status</th>
                                <th>Notes</th>
                                <th>Date Completed</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var aitem in Model.Activity)
                            {


                                <tr>
                                    <th>@Html.DisplayFor(modelItem => aitem.DateScheduled)</th>
                                    <th>@Html.DisplayFor(modelItem => aitem.DateCreated)</th>
                                    <th>@Html.DisplayFor(modelItem => aitem.ActivityTask.TaskDescription)</th>
                                    <th>@Html.DisplayFor(modelItem => aitem.Status)</th>
                                    <th>@Html.DisplayFor(modelItem => aitem.Notes)</th>
                                    <th>@Html.DisplayFor(modelItem => aitem.DateCompleted)</th>
                                </tr>

                            }
                        </tbody>
                    </table>

                    <a asp-page="/Activities/Create" asp-route-id="@Model.Contact.ContactID" class="btn btn-primary btn-sm">Create New Activity</a>
                </div>

            </div>
        </div>
    </div>


    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>

</body>